USE [master]
GO
/****** Objeto: Database [DBcitapro] Fecha de script: 2/07/2026 00:10:37 ******/
CREATE DATABASE [DBcitapro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBcitapro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DBcitapro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBcitapro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DBcitapro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBcitapro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBcitapro]
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreTabla] [varchar](80) NOT NULL,
	[IdTablaCambio] [int] NOT NULL,
	[Accion] [varchar](50) NULL,
	[ValorAnterior] [varchar](100) NULL,
	[ValorNuevo] [varchar](100) NULL,
	[Estado] [varchar](50) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Auditoria] PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cita] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdHorario] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Monto] [decimal](10, 2) NULL,
	[Descripcion] [varchar](256) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK__Cita__394B020245F873A2] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK__Cliente__D5946642D17C90BA] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Consultor] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultor](
	[IdConsultor] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[IdRubro] [int] NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Monto] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK__Consulto__799E9BA6FF8947CF] PRIMARY KEY CLUSTERED 
(
	[IdConsultor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estado] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](256) NULL,
 CONSTRAINT [PK__Estado__FBB0EDC1E23F833D] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EstadoHorario] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoHorario](
	[IdEstadoHorario] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](256) NULL,
 CONSTRAINT [PK__EstadoHo__710A89FDCA067F4E] PRIMARY KEY CLUSTERED 
(
	[IdEstadoHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HorarioConsultor] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioConsultor](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[IdConsultor] [int] NOT NULL,
	[IdEstadoHorario] [int] NOT NULL,
	[FechaHoraInicio] [datetime] NULL,
	[FechaHoraFin] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK__HorarioC__1539229B485D6509] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rubro] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubro](
	[IdRubro] [int] IDENTITY(1,1) NOT NULL,
	[NombreRubro] [varchar](256) NULL,
 CONSTRAINT [PK__Rubro__5355E1C1A3D8C106] PRIMARY KEY CLUSTERED 
(
	[IdRubro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoUsuario] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[Idtipo] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoUsuario] [varchar](100) NULL,
 CONSTRAINT [PK__TipoUsua__B47D06DC49E7496E] PRIMARY KEY CLUSTERED 
(
	[Idtipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 2/07/2026 00:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Idusuario] [int] IDENTITY(1,1) NOT NULL,
	[Idtipo] [int] NOT NULL,
	[Nombre] [varchar](256) NULL,
	[Dni] [varchar](8) NULL,
	[Sexo] [varchar](256) NULL,
	[Contraseña] [varchar](256) NULL,
	[Telefono] [varchar](9) NULL,
	[Correo] [varchar](256) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK__Usuario__7AC2157616E8319E] PRIMARY KEY CLUSTERED 
(
	[Idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Cita] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cliente_Cita]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Estado_Cita] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Estado_Cita]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Cita] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[HorarioConsultor] ([IdHorario])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Horario_Cita]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Cliente] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Usuario_Cliente]
GO
ALTER TABLE [dbo].[Consultor]  WITH CHECK ADD  CONSTRAINT [FK_Rubro_Consultor] FOREIGN KEY([IdRubro])
REFERENCES [dbo].[Rubro] ([IdRubro])
GO
ALTER TABLE [dbo].[Consultor] CHECK CONSTRAINT [FK_Rubro_Consultor]
GO
ALTER TABLE [dbo].[Consultor]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Consultor] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Consultor] CHECK CONSTRAINT [FK_Usuario_Consultor]
GO
ALTER TABLE [dbo].[HorarioConsultor]  WITH CHECK ADD  CONSTRAINT [FK_Consultor_Horario] FOREIGN KEY([IdConsultor])
REFERENCES [dbo].[Consultor] ([IdConsultor])
GO
ALTER TABLE [dbo].[HorarioConsultor] CHECK CONSTRAINT [FK_Consultor_Horario]
GO
ALTER TABLE [dbo].[HorarioConsultor]  WITH CHECK ADD  CONSTRAINT [FK_EstadoHorario_Horario] FOREIGN KEY([IdEstadoHorario])
REFERENCES [dbo].[EstadoHorario] ([IdEstadoHorario])
GO
ALTER TABLE [dbo].[HorarioConsultor] CHECK CONSTRAINT [FK_EstadoHorario_Horario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_TipoUsuario_Usuario] FOREIGN KEY([Idtipo])
REFERENCES [dbo].[TipoUsuario] ([Idtipo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_TipoUsuario_Usuario]
GO
USE [master]
GO
